
<h4 [ngStyle]="{'background-color': this.utilsSvc.getColor(valueThatChangesOnDataLoad)}" (click)="loadZooKeeperNodeData(pathToData)" class="text-center">
  <div class="row justify-content-center">
    <b [ngStyle]="{'color': this.utilsSvc.getColorForText()}" class=" my-h4" >{{utilsSvc.breadcrumbTitle(pathToData)}}</b>
  </div>
</h4>

<div *ngIf="valueThatChangesForSpinnerOnResponse" >
  <div class="row justify-content-center medium-paddingTop" >
    <mat-progress-spinner mode="indeterminate" strokeWidth="15"  [diameter]="150" [ngStyle]="{ margin: auto }"></mat-progress-spinner>
  </div>
</div>
<div *ngIf="!valueThatChangesForSpinnerOnResponse" >
  <div class="medium-marginLeftRight">
    <div *ngIf="serviceControlList.length > 0">
      <div class="rounded-corners mat-elevation-z2 " style="border-radius:1.5em;">
        <h4 [ngStyle]="{
          'background-color': this.utilsSvc.getColorInnerLabels(),
          'color': this.utilsSvc.getColorTableLabels()
          }"  class=" text-center" >
          <div class="row justify-content-center">
            <b>Service Control  </b> <mat-icon svgIcon="{{'/'+pathToData}}" class="serviceIcon"></mat-icon>
          </div>
        </h4>
        <div class="row mx-auto justify-content-center small-marginLeftRight">
          <div class="small-marginLeftRight rounded-corners display-content">
              <div *ngIf="serviceControlList.includes('replay')"  class="display-inlineFlex">
                <mat-form-field appearance="outline" (click)="onEvent($event)">
                  <input matInput   type="number" placeholder="Item id" [(ngModel)]="blockNumber" />
                </mat-form-field>
                <svg class="background-svgColorChange" (click)="onEvent($event)" style="padding-bottom: 1px; cursor: pointer;" (click)="replayTheBlockFromInput(blockNumber)" height="22" width="22" viewBox="0 0 42 42" >
                  <title>Replay Item</title>
                  <path d="M0 0h48v48H0z" fill="none"/>
                  <path d="M24 10V2L14 12l10 10v-8c6.63 0 12 5.37 12 12s-5.37 12-12 12-12-5.37-12-12H8c0 8.84 7.16 16 16 16s16-7.16 16-16-7.16-16-16-16z"/>
                </svg>
              </div>
              <div *ngIf="serviceControlList.includes('stop')" class="display-inlineFlex">
                <svg class="background-svgColorChange" (click)="onEvent($event)" (click)="startStopStream(streamStartStop)" style="padding-bottom: 1px; cursor: pointer;" height="22" viewBox="0 0 46 46" width="22" xmlns="http://www.w3.org/2000/svg">
                  <title>Stop Stream</title>
                  <path d="M0 0h48v48H0z" fill="none"/>
                  <path d="M12 12h24v24H12z"/>
                </svg>
              </div>
              <div *ngIf="serviceControlList.includes('start')" class="display-inlineFlex">
                <svg class="background-svgColorChange" (click)="onEvent($event)" style="padding-bottom: 1px; cursor: pointer;" height="22" viewBox="0 0 46 46" width="22" xmlns="http://www.w3.org/2000/svg">
                  <title>Start Stream</title>
                  <path d="M-838-2232H562v3600H-838z" fill="none"/>
                  <path d="M16 10v28l22-14z"/>
                  <path d="M0 0h48v48H0z" fill="none"/>
                </svg>
              </div>
              <div *ngIf="serviceControlList.includes('pause')" class="display-inlineFlex">
                <svg class="background-svgColorChange" (click)="onEvent($event)" style="padding-bottom: 1px; cursor: pointer;"  height="22" id="Layer_1" viewBox="0 0 512 512" width="22" xml:space="preserve" >
                    <title>Pause Stream</title>
                  <g>
                      <path d="M224,435.8V76.1c0-6.7-5.4-12.1-12.2-12.1h-71.6c-6.8,0-12.2,5.4-12.2,12.1v359.7c0,6.7,5.4,12.2,12.2,12.2h71.6   C218.6,448,224,442.6,224,435.8z"/>
                    <path d="M371.8,64h-71.6c-6.7,0-12.2,5.4-12.2,12.1v359.7c0,6.7,5.4,12.2,12.2,12.2h71.6c6.7,0,12.2-5.4,12.2-12.2V76.1   C384,69.4,378.6,64,371.8,64z"/>
                    </g>
                  </svg>
              </div>
          </div>
        </div>
      </div>

        <mat-form-field class="filterInputField" >
          <input matInput (keyup)="applyFilterServiceData($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <mat-table mat-table [dataSource]="dataSourceServiceBaseStats"  matSort #matServiceBaseSort="matSort">

          <!-- Name Column -->
          <ng-container matColumnDef="name" class="agentRuntimeTable">
            <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{
          'background-color': this.utilsSvc.getColorInnerLabels(),
          'color': this.utilsSvc.getColorTableLabels()
          }" class="agentRuntimeServiceInformationTableHeader mat-Header"> Name </mat-header-cell>
            <mat-cell *matCellDef="let element" class="extraSmall-paddingTopBottom"> <h6 class="noMargin"><b>{{element.name}}</b></h6> </mat-cell>
          </ng-container>

          <!-- Value Column -->
          <ng-container matColumnDef="value" >
            <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{
          'background-color': this.utilsSvc.getColorInnerLabels(),
          'color': this.utilsSvc.getColorTableLabels()
          }"  class="agentRuntimeServiceInformationTableHeader mat-Header"> Value </mat-header-cell>
            <mat-cell *matCellDef="let element" class="extraSmall-paddingTopBottom"> <h6 class="noMargin">{{element.value}}</h6> </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row >
          <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginatorServiceBaseStat
                       [pageSize]="15"
                       [pageSizeOptions]="[10, 15, 20]" style="background-color: #E6E6E6;" class="agentRuntimeInformationPagginator rounded-cornersBottom">
        </mat-paginator>
  </div>
</div>
