.mat-Header {
  display:flex !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.6em !important;
    border-top : 0px !important;
  }

  ::ng-deep .mat-form-field-infix{
    border-top : 0px !important;
  }
