
<div (click)="reloadData()" [ngStyle]="{'background-color': this.utilsSvc.getColor(valueThatChangesOnDataLoad)}" class="text-center headerFont  small-marginBottom">
  <div class="justify-content-center small-marginLeftRight  display-inlineFlex" >
    <b [ngStyle]="{'color': this.utilsSvc.getColorForText()}" class=" hoverUnderline large-fontSize" >{{utilsSvc.breadcrumbTitle(pathToData)}}</b>
    <!--<mat-icon (click)="openDialog()" class="small-marginLeft" matTooltip="Expand Window" svgIcon="{{'fullScreen'}}"></mat-icon>-->
  </div>

</div>
<pre class="small-padding medium-fontSize hiddenOverflow wordWrap" [style.max-height.px]="dataHeight">
  <div [innerHTML] ="zooKeeperData" ></div>
</pre>
