<header>
  <div class="row justify-content-center">
    <div *ngFor="let item of existingLinksToStreams | keyvalue">
      <div *ngIf="!utilsSvc.checkIfRepository(existingLinksToStreams[item.key])">
          <div *ngIf="utilsSvc.compareStrings(item.key, serviceName); then selected else notSelected"></div>
          <ng-template #selected>
            <div routerLink="/{{item.key}}"  class="selectedNavStyle">
                <p> <mat-icon svgIcon="{{item.key}}" style="margin-left:5px;margin-bottom:2px;"></mat-icon></p>
            </div>
          </ng-template>
          <ng-template #notSelected>
            <div routerLink="/{{item.key}}" class="navStyle" >
                <p> <mat-icon svgIcon="{{item.key}}" style="margin-left:5px;margin-right:5px;margin-bottom:2px;"></mat-icon></p>

            </div>
          </ng-template>
      </div>
    </div>
  </div>

</header>
