

  .selectedNavStyle{
    border-style: none none groove none;
    padding: 8px 5px 5px 0px;
    height: 2em;
    width: 5em;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
  }

  .selectedNavStyle  p{
    font-family: Montserrat,sans-serif;
    margin: 0;
    font-size: 0.8em;
    color: white;
  }



  .navStyle {
    cursor: pointer;
    padding: 5px 0px 5px 0px;
    height: 2em;
    width: 5em;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
  }

  .navStyle p{
    font-family: Montserrat,sans-serif;
    margin: 0;
    font-size: 0.8em;
  }

  .navStyle:hover {
    border-style: none none groove none transparent;
    background-color: #b3b1ae;
    color: white;
  }
