<block-ui [delayStart]="500" [delayStop]="500">
  <div *ngIf="!utilsSvc.compareStrings(userActiveToken, 'null') && !utilsSvc.compareStrings(userActiveToken, 'undefined') && !utilsSvc.compareStrings(userActiveToken, '')">

    <button  class="formSubmitButton display-inlineFlex small-marginTop align-alignEnd" style="width:auto;">
      <div [matMenuTriggerFor]="dd" class="display-inlineFlex">
        <mat-icon class="serviceIcon small-marginRight" svgIcon="usernameLogout"></mat-icon>
        <span class="extraLarge-fontSize logoutUsername"> {{username}}</span>
      </div>
    </button> 

    <mat-menu #dd="matMenu" [overlapTrigger]="false" style="background-color:#DCDCDC">
      <div class="displayFlex">
          <div class="align-alignEnd">
              <button (click)="redirectToUsersPage()" class="formSubmitButton">
                <div *ngIf="!returnBack; else backToMain">
                  <mat-icon class="serviceIcon" style="height:2.5em; width: 2.5em;" svgIcon="editUser"></mat-icon>
                </div>
                <ng-template #backToMain>
                  <mat-icon class="serviceIcon" style="height:2.5em; width: 2.5em;" svgIcon="cancel"></mat-icon>
                </ng-template>
              </button>
          </div>
          <div class=" align-alignEnd">
            <button class="formSubmitButton"> <mat-icon (click)="logout()" class="serviceIcon mousePointer" style="height:2.5em; width: 2.5em;"  svgIcon="logout"></mat-icon></button>
          </div>
      </div>
    </mat-menu>
  </div>
</block-ui>
