
  <div class=" small-paddingTop extraSmall-marginTop" fxLayout fxLayoutAlign="center center">
      <mat-form-field   class="filterInputField" fxFlex="40%">
          <input  (keyup)="searchNodeTree($event.target.value)" matInput matTooltip="Search for nodes in tree" placeholder="Search"  type="text">
      </mat-form-field>
  </div>
  <div class="small-marginLeftRight">
    <button mat-stroked-button (click)="expandNodeTree()"  matTooltip="Expand All nodes in tree">Expand nodes</button>
    <button mat-stroked-button (click)="collapseNodeTree()"  matTooltip="Collapse all nodes in tree">Collapse nodes</button>
  </div>

  <mat-tree  #tree [dataSource]="dataSource" [treeControl]="treeControl" >

    <!-- expandable node -->


    <div *matTreeNodeDef="let node; when: hasChild isVisible">

      <mat-tree-node disabled [ngClass]="{'navTreeFill':!this.utilsSvc.compareStrings(node.item, '/'+ this.pathToData),'navTreeSelected':this.utilsSvc.compareStrings(node.item, '/'+ this.pathToData)}" matTreeNodePadding matTreeNodePaddingIndent="20">

        <!--<div style="display: flex; align-items: center;"  *ngIf="utilsSvc.compareStrings(node.visible, 'true')">-->
        <button  (click)="onExpandCall()" [attr.aria-label]="'toggle ' + node.filename" mat-icon-button matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror" >
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <div  *ngIf="utilsSvc.compareStrings(node.visible, 'true'); then markText; else noMarking"></div>
        <ng-template #markText>
            <a routerLink="{{node.item}}" class="navTree" >
                <div *ngIf="iconsRegistered.includes(node.item); then includeSvg; else noSvg"></div>
              <ng-template #includeSvg>
                <div>

                  <mat-icon svgIcon="{{node.item}}" class="serviceIcon"></mat-icon>
                  <mark>{{this.utilsSvc.getNodePathEnd(node.item)}}</mark>
                </div>
              </ng-template>
              <ng-template #noSvg>
                <mark>{{this.utilsSvc.getNodePathEnd(node.item)}}</mark>
              </ng-template>
            </a>
        </ng-template>
        <ng-template #noMarking>
            <a routerLink="{{node.item}}" class="navTree" >
                <div *ngIf="iconsRegistered.includes(node.item); then includeSvg; else noSvg"></div>
                <ng-template #includeSvg>
                  <div>

                    <mat-icon svgIcon="{{node.item}}" class="serviceIcon"></mat-icon>
                    {{this.utilsSvc.getNodePathEnd(node.item)}}
                  </div>
                </ng-template>
                <ng-template #noSvg>
                  {{this.utilsSvc.getNodePathEnd(node.item)}}
                </ng-template>
            </a>
        </ng-template>
        <!--</div>-->
      </mat-tree-node>
    </div>

    <div *matTreeNodeDef="let node">
      <!-- Leaf node -->
      <mat-tree-node [ngClass]="{'navTreeFill':!this.utilsSvc.compareStrings(node.item, '/'+ this.pathToData),'navTreeSelected':this.utilsSvc.compareStrings(node.item, '/'+ this.pathToData)}" matTreeNodePadding matTreeNodePaddingIndent="20">
        <div class="treeLeafNodePadding">
          <!--<div *ngIf="utilsSvc.compareStrings(node.visible, 'true')">-->
          <div  *ngIf="utilsSvc.compareStrings(node.visible, 'true'); then markText; else noMarking"></div>
          <ng-template #noMarking>
              <a routerLink="{{node.item}}"  class="navTree wordBreak small-marginTopBottom">
                  <div *ngIf="iconsRegistered.includes(node.item); then includeSvg; else noSvg"></div>
                  <ng-template #includeSvg>
                    <div>
                      <mat-icon svgIcon="{{node.item}}" class="serviceIcon"></mat-icon>
                      {{this.utilsSvc.getNodePathEnd(node.item)}}

                    </div>
                  </ng-template>
                  <ng-template #noSvg>
                     {{this.utilsSvc.getNodePathEnd(node.item)}}
                  </ng-template>
              </a>
          </ng-template>
          <ng-template #markText>
              <a routerLink="{{node.item}}" class="navTree">
                  <div *ngIf="iconsRegistered.includes(node.item); then includeSvg; else noSvg"></div>
                  <ng-template #includeSvg>
                    <div>

                      <mat-icon svgIcon="{{node.item}}" class="serviceIcon"></mat-icon>
                      <mark>{{this.utilsSvc.getNodePathEnd(node.item)}}</mark>
                    </div>
                  </ng-template>
                  <ng-template #noSvg>
                    <mark>{{this.utilsSvc.getNodePathEnd(node.item)}}</mark>
                  </ng-template>
              </a>
          </ng-template>
        </div>
      </mat-tree-node>
    </div>


  </mat-tree>
