.mat-column-reason {
  flex: 0 0 20% !important;
}
.mat-cell{
  font-size: 1em !important;
  font-family: Montserrat,sans-serif !important;
  padding-right: 24px !important;
}

.mat-header-cell {
  padding-right: 24px !important;
}
  .mat-column-control {
  justify-content: center;
  }
