<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Streams Administrations backend services application</display-name>

    <listener>
        <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
    </listener>

    <!-- URL constraints -->
    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>Admin</web-resource-name>-->
            <!--<url-pattern>/login</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<auth-constraint>-->
            <!--<role-name>admin</role-name>-->
            <!--<role-name>staff</role-name>-->
        <!--</auth-constraint>-->
        <!--<user-data-constraint>-->
            <!--&lt;!&ndash; transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE &ndash;&gt;-->
            <!--<transport-guarantee>NONE</transport-guarantee>-->
        <!--</user-data-constraint>-->
    <!--</security-constraint>-->
    <!--&lt;!&ndash; What roles are allowed &ndash;&gt;-->
    <!--<security-role>-->
        <!--<role-name>admin</role-name>-->
        <!--<role-name>staff</role-name>-->
    <!--</security-role>-->
    <!--&lt;!&ndash; Force login by form &ndash;&gt;-->
    <!--<login-config>-->
        <!--<auth-method>BASIC</auth-method>-->
        <!--<realm-name>Admin</realm-name>-->
    <!--</login-config>-->



    <!--<login-config>-->
        <!--<auth-method>FORM</auth-method>-->
        <!--<form-login-config>-->
            <!--<form-login-page>/login.xhtml</form-login-page>-->
            <!--<form-error-page>/error.xhtml</form-error-page>-->
        <!--</form-login-config>-->
    <!--</login-config>-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>streams</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>

