.mat-column-value {
  flex: 0 0 30% !important;
  min-width: 104px !important;
}
.mat-column-value1 {
flex: 0 0 30% !important;
min-width: 104px !important;
}
  .mat-table {
    max-height: 500em;
  }
.mat-cell{
  font-size: 1em !important;
  font-family: Montserrat,sans-serif !important;
  padding-right: 24px !important;
}
