
<div (click)="reloadData()" [ngStyle]="{'background-color': this.utilsSvc.getColor(valueThatChangesOnDataLoad)}" class="text-center small-marginBottom headerFont">
  <div class="justify-content-center small-marginLeftRight">
    <b [ngStyle]="{'color': this.utilsSvc.getColorForText()}" class=" hoverUnderline large-fontSize" >{{utilsSvc.breadcrumbTitle(pathToData)}}</b>
  </div>
</div>

<div *ngIf="valueThatChangesForSpinnerOnResponse" >
  <div class="row justify-content-center large-paddingTop" >
    <mat-progress-spinner mode="indeterminate" strokeWidth="15"  [diameter]="150" [ngStyle]="{ margin: auto }"></mat-progress-spinner>
  </div>
</div>
<div  *ngIf="!valueThatChangesForSpinnerOnResponse" class="medium-marginLeftRight" >
  <div *ngIf="!this.utilsSvc.compareStrings(zooKeeperData, 'undefined')">
    <div class="row">
       <div class="col-12 col-sm-12 col-lg-4 col-xl-3 small-paddingBottom">
         <div #viewComponent  class=" justify-content-center mat-elevation-z8 rounded-corners extraSmall-paddingTopBottom">
            <div  *ngFor="let key of objectKeys(zooKeeperData)">
              <div  *ngFor="let key1 of objectKeys(zooKeeperData[key])" >
                <div *ngIf="this.utilsSvc.compareStrings(key1, 'name')">
                  <div *ngIf="this.utilsSvc.compareStrings(zooKeeperData[key][key1], this.configChoiceData); then notSelected; else selected"></div>
                  <ng-template #notSelected>
                    <div class="borderConfNav backgroundWhite" (click)="configFileChoice(zooKeeperData[key][key1])" >
                      <mat-nav-list >
                        <div >
                          <span class="configNav agentRuntimeServiceInformationTableHeader">{{zooKeeperData[key][key1]}}</span>
                        </div>
                      </mat-nav-list>
                    </div>
                  </ng-template>
                  <ng-template #selected>
                    <div class="borderConfNav" (click)="configFileChoice(zooKeeperData[key][key1])" >
                      <mat-nav-list>
                        <span class="configNav agentRuntimeServiceInformationTableHeader" (click)="configFileChoice(zooKeeperData[key][key1])" >{{zooKeeperData[key][key1]}}</span>
                      </mat-nav-list>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
       </div>
      <div class="col-12 col-sm-12 col-lg-8 col-xl-9">
        <div  *ngFor="let key of objectKeys(zooKeeperData)"   #configuration >
          <div  *ngFor="let key1 of objectKeys(zooKeeperData[key])" >
            <div *ngIf="!this.utilsSvc.compareStrings(key1, 'name')">
              <div *ngIf="this.utilsSvc.compareStrings(zooKeeperData[key]['name'], configChoiceData)" [style.max-height.px]="dataHeight" class="hiddenOverflow">
                <div class="small-marginRight" style="cursor: context-menu;" >
                  <div  class="hoverWhite small-padding">
                    <PRE><span class="threads wordWrap"> {{zooKeeperData[key][key1]}}</span></PRE>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
